<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Maakye wo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Road Analyser</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Violator Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
            </li>
        </ul>
        <div class="btn-group  my-2 my-lg-0" role="group" aria-label="Button group">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Settings</button>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
        </div>
    </div>
</nav>