<div class="container" id="social_login_pane">
    <div class="row">
        <div class="col-12 offset-md-3 col-md-6 offset-md-3">
            <h1 class="text-center">Social Logins</h1>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <p>facebook</p class="text-center">
                    <button class="btn btn-outline-dark btn-block">facebook</button>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <p>google</p>
                    <button class="btn btn-outline-dark btn-block" id="Gsignup">
                        Google
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>