.side-nav {
    background-color: #212121;
    color: #FFFFFF;
    width: 100%;
    height: 95vh;
    position: fixed;
    z-index: 9;
    margin-top: -2px;
}

.custom-scrollbar {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.collapsible-accordion {
    padding-right: 26px;
    padding-top: 5px;
}

.collapsible-list-item {
    padding-right: 0;
    padding-left: 5px;
}

.collapsible-list-item li {
    list-style: none;
    background-color: #2f3640;
    border-radius: 5px;
    margin-bottom: 3px;
}

.collapsible-list-item li a {
    color: #FFFFFF;
    padding: 5px;
}

.button-collapse {
    margin: 10px 0;
    position: fixed;
    left: 14vw;
    top: 5.5vh;
    z-index: 10;
    background-color: #2f3640;
    border-radius: 50%;
    border: 2px solid white;
}

.tiny-img {
    width: 18px;
    height: 18px;
}

.survellaince-img {
    width: 98%;
    height: 500px;
}