#video_pane {
    border: 1px solid #d3d3d3;
    height: 85vh;
}

#street_info_pane {
    border: 1px solid #d3d3d3;
    min-height: 20vh;
}

#road_info_pane {
    border: 1px solid #d3d3d3;
    min-height: 20vh;
}

#list_pane {
    max-height: 85vh;
    overflow-y: auto;
}

.sm-nav-widget {
    position: absolute;
    top: 15vh;
    background-color: #d3d3d3;
    height: 80vh;
    border-radius: 5px;
}

.sm-nav-right {
    right: 0;
}

.sm-nav-left {
    left: 0;
}

.info_pane {
    margin: 2vh 0;
}

.file_upload_pane {
    max-height: 30vh;
    min-height: 30vh;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashboard_img_div {
    max-height: 25vh;
    min-height: 25vh;
    text-align: center;
}

.dashboard_img {
    height: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.uploaded_vehicle_img {}

.uploaded_vehicle_img_list_item {
    list-style: none;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
}