<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>

        <!-- todo:
        add pane for user to declare a missing or stolen
        vehicle as found, and remove store data.
        -->

        <div class="container">
            <div class="row">
                <div class="dashboard_img_div col-12 offset-md-3 col-md-6 offset-md-3">
                    <!-- add some art illustration here, of survellaince -->
                    <img class="dashboard_img" src="img/aperture.svg" alt="cctv_icon">
                </div>
                <div class="col-12 offset-md-3 col-md-6 offset-md-3">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-12 offset-md-3 col-md-6 offset-md-3">
                    <form class="" action="" method="">
                        <input type="file" name="vehicle_image_upload" id="vehicle_images" multiple="multiple" onchange="updateList()">
                </div>
                <div class="file_upload_pane col-12 offset-md-3 col-md-6 offset-md-3">
                    <p class="text-left">Files should be in .png .jpg or .jpeg format.</p>
                    <div id="fileList">
                    </div>

                </div>
                <div class="col-12 offset-md-3 col-md-6 offset-md-3">
                    <input class="btn btn-outline-dark btn-block" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer'); -%>