<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <!-- login portion -->
        <div class="container">

            <div class="row" id="login_container">
                <div class="col-12 offset-md-3 col-md-6 offset-md-3 login_or_sign_container">
                    <h1 class="text-center">Login</h1>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <!-- login forms -->
                    <form action="/login" method="POST">
                        <div class="form-group"><label for="">Email address</label><input type="text" class="form-control" name="email_address"></div>
                        <div class="form-group"><label for="">Password</label><input type="password" class="form-control" name="password"></div>
                        <div class="form-group"><input type="Submit" value="Submit" class="btn btn-outline-dark btn-block"></div>
                    </form>
                    <!-- show signup button -->
                    <p class="text-center">
                        <a class="" href="/user_signup">
                             Don't have an account? <br> Sign up
                        </a>
                    </p>
                </div>

            </div>

        </div>

        <div class="container">
            <hr>
        </div>
        <%- include('./partials/social_login'); -%>
            <%- include('./partials/footer'); -%>