<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>
        <p>admin &lt; all &gt;</p>

        <div class="container">

        </div>

        <%- include('./partials/footer'); -%>