<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav.ejs');-%>

        <!-- todo:
        add pane for user to declare a missing or stolen
        vehicle as found, and remove store data.
        -->

        <div class="container">
            <div class="row">
                <div class="dashboard_img_div col-12 offset-md-3 col-md-6 offset-md-3">
                    <!-- add some art illustration here, of survellaince -->
                    <img class="dashboard_img" src="img/aperture.svg" alt="cctv_icon">

                    <h1 class="header_styling text-center">Maakye Wo Tracker</h1>
                    <p class="text-center">
                        Upload pictures, of a missing car to get up to the minute update of locations at which the vehicle was spotted. To help, you track the missing car.
                    </p>

                    <form class="" action="" method="">
                        <div class="md-form">
                            <input type="text" id="licensePlate" class="form-control" name="licensePlateNumber">
                            <label for="License Plate">License Plate</label>
                        </div>
                        <input type="file" name="vehicle_image_upload" id="vehicle_images" multiple="multiple" onchange="updateList()">
                        <div class="row">
                            <div class="file_upload_pane col-12">
                                <p class="text-center">Files should be in .png .jpg or .jpeg format.</p>
                                <div id="fileList">
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-outline-dark btn-block btn-sm" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>

        <%- include('./partials/footer'); -%>