<%- include('./partials/header.ejs');-%>
    <%- include('./partials/nav_log_out.ejs');-%>
        <!-- login portion -->
        <div class="container">

            <div class="row" id="login_container">
                <div class="col-12 offset-md-3 col-md-6 offset-md-3 login_or_sign_container">
                    <%- include('./partials/alert.ejs');-%>
                        <h1 class="text-center">Login</h1>
                        <p class="text-center text-muted">
                            Log into an existing account.
                        </p>
                        <!-- login forms -->
                        <form action="/login" method="POST">
                            <!-- Material input -->
                            <div class="md-form">
                                <input type="text" id="email_address" class="form-control" name="email_address">
                                <label for="email_address">Email address</label>
                            </div>
                            <div class="md-form">
                                <input type="password" id="password" class="form-control" name="password">
                                <label for="password">Password</label>
                            </div>
                            <div class="form-group"><input type="Submit" value="Submit" class="btn btn-outline-dark btn-block btn-sm"></div>
                        </form>
                        <!-- show signup button -->
                        <p class="text-center">
                            <a class="" href="/user_signup">
                             Don't have an account? <br> Sign up
                        </a>
                        </p>

                </div>
            </div>
        </div>
        <%- include('./partials/footer'); -%>