<%- include('./partials/header.ejs');-%>
    <header>
        <%- include('./partials/nav.ejs');-%>
    </header>

    <main>
        <div class="row">

            <div id="navContent" class="col-md-2">
                <%- include('./partials/sidenav.ejs');-%>
            </div>


            <div id="mainContent" class="col-md-9">

                <div class="mb-3 px-3">
                    <h1 class="header_styling"> Road Analytics </h1>
                    <p class="">
                        This section gives analytics, interpretations, and also communicates meaningful patterns in data.
                        <br> It includes given relevant statistics relating data recorded concerning a given road.
                    </p>
                    <table id="dtBasicExample" class="table table-striped table-sm">

                        <thead class="thead-dark">
                            <tr>
                                <th scope="row">Paramter</th scope="row">
                                <th scope="row">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Temperature</td>
                                <td>35 &#8451</td>
                            </tr>
                            <tr>
                                <td>Traffick Status</td>
                                <td>Heavy Traffick</td>
                            </tr>
                            <tr>
                                <td>Road Type</td>
                                <td>Tarred Road</td>
                            </tr>
                            <tr>
                                <td>Average Cars Per Day</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>Allowable Speed Range</td>
                                <td>30- 70(MpH)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="mb-3 px-3">
                    <h1 class="header_styling"> Road Statistics </h1>
                    <p>This pane shows the various statistics from the selected road.</p>
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h2 class="subheader_styling text-left">Doughnut Chart Visualisation</h1>
                                <p class="text-muted">
                                    Below is a doughnut chart visualisation of the statistics.
                                </p>
                                <hr>
                                <!-- doughnut chart -->
                                <canvas id="doughNutChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="mb-3 px-3">
                    <h1 class="header_styling "> Street View </h1>
                    <p>
                        Below is a google map street view of the given, street.
                    </p>
                    <hr>
                    <!-- <p class=" ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                    <!-- <div id="map-view ">
                        </div> -->
                    <!--Google map-->
                    <div id="map-container-google-1 " class="z-depth-1-half map-container " style="height: 500px ">
                        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed " frameborder="0 " style="border:0 " allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); -%>
            <script>
                const doughChart = document.getElementById("doughNutChart");
                const doughNutChart = new Chart(doughChart, {
                    type: 'doughnut',
                    data: {
                        datasets: [{
                            data: [10, 20, 30],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(255, 206, 86, 0.6)',
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ]
                        }],
                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: [
                            'Red',
                            'Yellow',
                            'Blue'
                        ]
                    },
                    options: {}
                });
            </script>
    </footer>

    </body>

    </html>