<% if(msg.length > 0){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h4 class="alert-heading text-center">Form Submission Failed</h4>
        <p class="text-center">
            <%= msg %>
        </p>
        <!-- <strong>Er</strong> You should check in on some of those fields below. -->
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <% } %>