<!-- SideNav slide-out button -->
<a href="#" data-activates="slide-out" class="btn p-3 button-collapse">
    <!-- <i class="fas fa-bars"></i> -->
    <img class="tiny-img" src="/img/bars.svg" alt="burger bars">
</a>

<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav">
    <ul class="custom-scrollbar">
        <!-- Side navigation links -->
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <h1 class="header_styling">Navigator</h1>
                    <!-- <hr> -->
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-chevron-right"></i> Survelliance
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible-list-item">
                            <li><a href="#" class="waves-effect">Survelliance Images</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="far fa-hand-pointer"></i> Street View
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible-list-item">
                            <li><a href="#" class="waves-effect">Street View</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="fas fa-eye"></i> Driver Information
                        <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible-list-item">
                            <li><a href="#" class="waves-effect">Driver info</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="far fa-envelope"></i> Violator Statistics
                        <i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="collapsible-list-item">
                            <li><a href="#" class="waves-effect">Statistic</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a class="collapsible-header waves-effect arrow-r">
                        <i class="far fa-envelope"></i> Admin Actions
                        <i class="fas fa-angle-down rotate-icon"></i></a>
                    <div class="collapsible-body">
                        <ul class="collapsible-list-item">
                            <li><a href="#" class="waves-effect">Issue Charge Back</a>
                            </li>
                            <li><a href="#" class="waves-effect">Vehicle Flagging</a>
                            </li>
                            <li><a href="#" class="waves-effect">License Suspension</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg rgba-blue-strong"></div>
</div>
<!--/. Sidebar navigation -->