<div id="social_login_pane">

    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <button class="btn btn-outline-primary btn-block btn-sm">facebook</button>
        </div>
        <div class="col-12 col-md-6 text-center">
            <button class="btn btn-outline-danger btn-block btn-sm" id="Gsignup">Google</button>
        </div>
    </div>

</div>